:root {
  font-size: 18px;
  --gray-10: #616161;
  --gray-20: #212429;
  --gray-30: #212121;
}

body {
  color: var(--gray-30);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--gray-30);
}

/*
.header {
  font-size: 14px;
  color: var(--gray-10);
}*/
header {
  font-size: 14px;
  color: var(--gray-10);
}

header a {
  color: var(--gray-10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray-30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList) ". ";
}

.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background-color: var(--gray-30);
  display: block;
}

.section-content + hr {
  display: none;
}

pre {
  background-color: #fec62e;
}

.hero {
  height: 350px;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../assets/images/pattern.png");
}
