body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

a {
  color: #212121;
}

.header {
  font-size: 14px;
  color: #616161;
}

header a {
  color: #616161;
  text-decoration: none;
}

header a:hover {
  color: #212121;
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h3::before {
  content: "-";
}
h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background-color: var(--gray-30);
  display: inline-block;
}

pre {
  background-color: #fec62e;
}

.hero {
  height: 350px;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../assets/images/patron-1.png");
}
