:root {
  font-size: 18px;
  --gray-30: #212121;
  --gray-20: #212429;
  --gray-10: #616161;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: var(--gray-30);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

.main {
  /*border: 1px solid red;*/
}

.wrapper {
  width: 902px;
  margin: auto;
}

a {
  color: var(--gray-30);
}

header {
  font-size: 14px;
  width: 188px;
  color: var(--gray-10);
  position: absolute;
  top: 64px;
  left: -232px;
}

header a {
  color: var(--gray-10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray-30);
}

header li {
  margin-bottom: 16px;
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

hr {
  margin: 64px 0;
}

h1 {
  font-size: 60px; /* 3.75em;*/
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: relative;
}

.section-content {
  counter-reset: titleList;
  margin-top: 164px; /*64px;*/
}

.section-content:first-of-type {
  margin: 0;
}

.section-content img {
  margin-top: 40px;
}
.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList) ". ";
}
.section-content h3::after {
  content: " ";
  width: 80px;
  height: 4px;
  background-color: var(--gray-30);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-content ol li {
  margin-bottom: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

pre {
  background-color: #fec62e;
  padding: 40px;
  font-family: "Roboto";
  line-height: 24px;
}

.section-content + hr {
  display: none;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray-30);
}

blockquote span {
  color: var(--gray-10);
}

blockquote span:before {
  content: "- ";
}

.hero {
  height: 350px;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../assets/images/pattern.png");
}
